@mixin tablet {
     @media (min-width:$tablet){
        @content;
    }
 }

@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin pc {
  @media (min-width: $pc) {
    @content;
  }
}

