@mixin smartphone{
    @media (max-width:$smartphone){
        @content;
    }
}

// @mixin tablette{
//     @media (min-width:$tablette){
//         @content;
//     }
// }

@mixin pc{
    @media (min-width:$pc){
        @content;
    }
}